In [425]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
plt.style.use('seaborn')

%matplotlib inline

In [426]:
#Importing data from the well header worksheet
well_header=pd.read_csv('TVD data.csv')

In [427]:
well_header.head()

,EPAssetsId,UWI,CurrentStatus,CurrentStatusStandardised,WellType,WellTypeStandardised,Formation,Field,Surf_Township,Surf_Meridian,...,KBElevation,TotalDepth,SpudDate,FinalDrillDate,RigReleaseDate,DaysDrilling,DrillMetresPerDay,TVD,WellProfile,ProjectedDepth
0,2587301,100122706624W500,Gas Lift,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,764.8,3677.0,12/5/2015,12/18/2015,12/21/2015,13.0,282.85,NaN,Horizontal,3800.0
1,2593278,102052706624W500,Gas Lift,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,770.8,3607.0,5/26/2016,6/8/2016,6/10/2016,13.0,277.46,1954.58,Horizontal,3700.0
2,2579437,100162206624W500,Gas Lift,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,759.4,3502.0,1/6/2015,1/19/2015,1/22/2015,13.0,269.38,1940.06,Horizontal,3800.0
3,2591761,100092206624W500,Gas Lift,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,759.8,3491.0,1/12/2016,1/24/2016,1/26/2016,12.0,290.92,1945.01,Horizontal,3500.0
4,2587302,100082206624W500,Gas Lift,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,767.7,3578.0,12/28/2015,1/8/2016,1/11/2016,11.0,325.27,1956.34,Horizontal,3800.0

In [428]:
well_header.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
EPAssetsId,10437.0,1.609517e+06,960866.838469,3373.000000,1.159959e+06,1.171542e+06,2.602618e+06,2.625908e+06
Surf_Longitude,10437.0,-1.138202e+02,6.242088,-122.939258,-1.187252e+02,-1.134080e+02,-1.090770e+02,0.000000e+00
Surf_Latitude,10437.0,5.320212e+01,2.609532,0.000000,5.161133e+01,5.229271e+01,5.477497e+01,5.752191e+01
BH_Longitude,8697.0,-1.125414e+02,4.094598,-119.999593,-1.169032e+02,-1.104887e+02,-1.089319e+02,-1.077269e+02
BH_Latitude,8697.0,5.266485e+01,1.430019,49.964650,5.156799e+01,5.192330e+01,5.422217e+01,5.658039e+01
GroundElevation,10429.0,7.852716e+02,157.416921,565.200000,6.941000e+02,7.271000e+02,8.597000e+02,9.914000e+03
KBElevation,10437.0,7.896738e+02,130.276638,569.800000,6.984000e+02,7.332000e+02,8.660000e+02,1.377000e+03
TotalDepth,10437.0,3.235521e+03,1641.343526,888.000000,1.600000e+03,2.586000e+03,4.583000e+03,7.848000e+03
DaysDrilling,10431.0,1.857147e+01,32.522812,0.000000,2.000000e+00,8.000000e+00,2.000000e+01,7.380000e+02
DrillMetresPerDay,10437.0,6.260591e+02,516.928173,0.000000,2.099500e+02,4.575000e+02,9.020000e+02,2.655000e+03
TVD,6731.0,1.419494e+03,913.827019,134.000000,7.114550e+02,7.658900e+02,2.206350e+03,4.366000e+03
ProjectedDepth,10045.0,2.795829e+03,2052.078668,460.000000,7.200000e+02,2.400000e+03,4.542000e+03,7.550000e+03

In [429]:
well_header.isnull().sum()

EPAssetsId                      0
UWI                             0
CurrentStatus                   0
CurrentStatusStandardised       0
WellType                        0
WellTypeStandardised            0
Formation                       0
Field                           0
Surf_Township                   0
Surf_Meridian                   0
Surf_Range                      0
Surf_Longitude                  0
Surf_Latitude                   0
BH_Longitude                 1740
BH_Latitude                  1740
BH_Township                     0
BH_Meridian                     0
BH_Range                        0
GroundElevation                 8
KBElevation                     0
TotalDepth                      0
SpudDate                        0
FinalDrillDate               1740
RigReleaseDate                  0
DaysDrilling                    6
DrillMetresPerDay               0
TVD                          3706
WellProfile                     0
ProjectedDepth                392
dtype: int64

# Statistical Analysis

In [430]:
print('Corr b/w Axial Acc and SSP:',np.corrcoef(well_header.Surf_Longitude,well_header.TotalDepth))

Corr b/w Axial Acc and SSP: [[ 1.         -0.61931424]
 [-0.61931424  1.        ]]

In [450]:
stat=well_header.loc[:, ['TotalDepth','Surf_Latitude']]
stat

       TotalDepth  Surf_Latitude
0          3677.0      54.747632
1          3607.0      54.737446
2          3502.0      54.730864
3          3491.0      54.730703
4          3578.0      54.723339
...           ...            ...
10432      2076.0      51.895432
10433      1976.0      51.959143
10434      5531.0      51.272852
10435      4779.0      51.257185
10436      5444.0      51.256761

[10437 rows x 2 columns]

In [451]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(stat.values, i) for i in range(stat.shape[1])]
vif["features"] = stat.columns

In [452]:
vif

   VIF Factor       features
0    5.345149     TotalDepth
1    5.345149  Surf_Latitude

# Model 1

In [414]:
#Variables selection for the model
total=well_header[['EPAssetsId','TVD','WellProfile','WellTypeStandardised','TotalDepth','Surf_Latitude']]
data=total[total.TVD.notnull()]
data.columns=['EPAssetsId','TVD','WellProfile','WellType','Total Depth','Surf_Latitude']
data

       EPAssetsId      TVD  WellProfile WellType  Total Depth  Surf_Latitude
1         2593278  1954.58   Horizontal      Oil       3607.0      54.737446
2         2579437  1940.06   Horizontal      Oil       3502.0      54.730864
3         2591761  1945.01   Horizontal      Oil       3491.0      54.730703
4         2587302  1956.34   Horizontal      Oil       3578.0      54.723339
5         2600942  1911.62   Horizontal      Oil       3659.0      54.787071
...           ...      ...          ...      ...          ...            ...
10431     2619591   888.62  Directional      Oil       2068.0      51.895504
10432     2619592   889.74  Directional      Oil       2076.0      51.895432
10434     2614697  2254.61  Directional      Oil       5531.0      51.272852
10435     2613170  2209.00  Directional      Oil       4779.0      51.257185
10436     2613169  2218.41  Directional      Oil       5444.0      51.256761

[6731 rows x 6 columns]

In [415]:
#Creating dummies for categorical variables WellProfile and WellType
well_profile_dummies = pd.get_dummies(data.WellProfile, prefix='WellProfile').iloc[:,1:]
well_type_dummies = pd.get_dummies(data.WellType, prefix='WellType').iloc[:,1:]

df = pd.concat([data, well_profile_dummies,well_type_dummies], axis=1)
df

,EPAssetsId,TVD,WellProfile,WellType,Total Depth,Surf_Latitude,WellProfile_Horizontal,WellProfile_Vertical,WellType_Oil
1,2593278,1954.58,Horizontal,Oil,3607.0,54.737446,1,0,1
2,2579437,1940.06,Horizontal,Oil,3502.0,54.730864,1,0,1
3,2591761,1945.01,Horizontal,Oil,3491.0,54.730703,1,0,1
4,2587302,1956.34,Horizontal,Oil,3578.0,54.723339,1,0,1
5,2600942,1911.62,Horizontal,Oil,3659.0,54.787071,1,0,1
...,...,...,...,...,...,...,...,...,...
10431,2619591,888.62,Directional,Oil,2068.0,51.895504,0,0,1
10432,2619592,889.74,Directional,Oil,2076.0,51.895432,0,0,1
10434,2614697,2254.61,Directional,Oil,5531.0,51.272852,0,0,1
10435,2613170,2209.00,Directional,Oil,4779.0,51.257185,0,0,1
10436,2613169,2218.41,Directional,Oil,5444.0,51.256761,0,0,1

In [422]:
stat1=df.loc[:, ['Total Depth','Surf_Latitude','WellProfile_Horizontal','WellProfile_Vertical']]
stat1

,Total Depth,Surf_Latitude,WellProfile_Horizontal,WellProfile_Vertical
1,3607.0,54.737446,1,0
2,3502.0,54.730864,1,0
3,3491.0,54.730703,1,0
4,3578.0,54.723339,1,0
5,3659.0,54.787071,1,0
...,...,...,...,...
10431,2068.0,51.895504,0,0
10432,2076.0,51.895432,0,0
10434,5531.0,51.272852,0,0
10435,4779.0,51.257185,0,0
10436,5444.0,51.256761,0,0

In [423]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(stat1.values, i) for i in range(stat1.shape[1])]
vif["features"] = stat1.columns

In [424]:
vif

   VIF Factor                features
0    5.718625             Total Depth
1   13.518876           Surf_Latitude
2    5.494427  WellProfile_Horizontal
3    1.005579    WellProfile_Vertical

In [394]:
#Taking features and standardizing them
#from sklearn.preprocessing import StandardScaler
#sec=df.iloc[:,1:11]
#scale=StandardScaler()
#scaled=scale.fit_transform(sec)
#df1=pd.DataFrame(scaled)
#df1

In [416]:
#Extrating feature variables for the model
X=df.iloc[:,4:10]
y=df.iloc[:, 1]
X

,Total Depth,Surf_Latitude,WellProfile_Horizontal,WellProfile_Vertical,WellType_Oil
1,3607.0,54.737446,1,0,1
2,3502.0,54.730864,1,0,1
3,3491.0,54.730703,1,0,1
4,3578.0,54.723339,1,0,1
5,3659.0,54.787071,1,0,1
...,...,...,...,...,...
10431,2068.0,51.895504,0,0,1
10432,2076.0,51.895432,0,0,1
10434,5531.0,51.272852,0,0,1
10435,4779.0,51.257185,0,0,1
10436,5444.0,51.256761,0,0,1

# Stats Model

In [418]:
#Using Stats Model to understand the hypothesis: Model 1

import statsmodels.formula.api as smf
model11=smf.ols('y~X', data=df).fit()
model11.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.938
Model:                            OLS   Adj. R-squared:                  0.938
Method:                 Least Squares   F-statistic:                 2.039e+04
Date:                Thu, 06 Aug 2020   Prob (F-statistic):               0.00
Time:                        08:43:47   Log-Likelihood:                -46076.
No. Observations:                6731   AIC:                         9.216e+04
Df Residuals:                    6725   BIC:                         9.220e+04
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -956.6962    160.934     -5.945      0.000   -1272.178    -641.215
X[0]           0.4117      0.003    136.081      0.000       0.406       0.418
X[1]          29.8635      3.092      9.660      0.000      23.803      35.924
X[2]         -25.8295      7.392     -3.494      0.000     -40.321     -11.338
X[3]         940.4371    102.399      9.184      0.000     739.703    1141.171
X[4]        -529.4556     10.273    -51.537      0.000    -549.595    -509.317
==============================================================================
Omnibus:                      804.808   Durbin-Watson:                   0.937
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5415.698
Skew:                           0.365   Prob(JB):                         0.00
Kurtosis:                       7.333   Cond. No.                     2.01e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.01e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# MLR Model 1

In [378]:
#Using a MLR regression model to see which random state give the best results

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeClassifier

for i in range(1,30):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3, random_state=i) #Split is 70-30
    
    model=LinearRegression()
    model.fit(X_train,y_train)
    
    training_score=model.score(X_train,y_train)
    testing_score=model.score(X_test,y_test)
   
    if testing_score > training_score:
        print("Testing : {} Training : {} Random State: {}".format(testing_score,training_score,i))

Testing : 0.9528000512982485 Training : 0.9518529565258833 Random State: 2
Testing : 0.9550149703271937 Training : 0.9508217565351709 Random State: 5
Testing : 0.9528442954189359 Training : 0.951830734741784 Random State: 9
Testing : 0.9522550400337617 Training : 0.952064948458489 Random State: 10
Testing : 0.9522380754392449 Training : 0.952033660758625 Random State: 11
Testing : 0.954819040659103 Training : 0.9509776642510254 Random State: 12
Testing : 0.9525562424088918 Training : 0.9519465061938044 Random State: 19
Testing : 0.9522402573116404 Training : 0.9520887685803341 Random State: 20
Testing : 0.9548617392410512 Training : 0.9509539768922497 Random State: 22
Testing : 0.9538208065004972 Training : 0.9513528508589557 Random State: 24
Testing : 0.9522710728356031 Training : 0.9520794577040654 Random State: 25
Testing : 0.9559651625828076 Training : 0.9504836620286709 Random State: 26
Testing : 0.9539410988553672 Training : 0.9513003162110687 Random State: 27
Testing : 0.9523805224827337 Training : 0.9520281805299757 Random State: 29

In [434]:
#Selecting the random set from the above analysis

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3, random_state=10)
model_1=LinearRegression()
model_1.fit(X,y)

LinearRegression()

In [435]:
#Prediction on the training set for model 1
predicted=model_1.predict(X_test)

In [436]:
# check the accuracy on the training set
model_1.score(X_train,y_train)

0.9376278405747953

In [437]:
#Model Score for the test data for model 1
model_1.score(X_test,y_test)

0.9391913060968292

In [438]:
#Now getting the testing data to make predictions
test_data=total[total.TVD.isnull()] #Getting the data where TVD need to be predicted
test_data.columns=['EPAssetsId','TVD','WellProfile','WellType','Total Depth','Surf_Latitude','Surf_Longitude','BH_Longitude','BH_Longitude']
test_data

ValueError: Length mismatch: Expected axis has 6 elements, new values have 9 elements

In [386]:
#Creating dummies for the test data for Well profile and Well Type
well_profile_dummies_test = pd.get_dummies(test_data.WellProfile, prefix='WellProfile').iloc[:,1:]
well_type_dummies_test = pd.get_dummies(test_data.WellType, prefix='WellType').iloc[:,1:]
test = pd.concat([test_data, well_profile_dummies_test,well_type_dummies_test], axis=1)
test

,EPAssetsId,TVD,WellProfile,WellType,Total Depth,Surf_Latitude,Surf_Longitude,BH_Longitude,BH_Longitude,WellProfile_Horizontal,WellType_Oil
0,2587301,NaN,Horizontal,Oil,3677.0,54.747632,-117.529866,-117.553826,-117.553826,1,1
8,2608978,NaN,Horizontal,Oil,3508.0,54.745328,-117.482119,-117.469793,-117.469793,1,1
14,2608702,NaN,Horizontal,Gas,6110.0,54.578063,-116.965662,-116.998302,-116.998302,1,0
15,2614267,NaN,Directional,Gas,6106.0,54.578117,-116.965540,-116.991957,-116.991957,0,0
17,2608700,NaN,Horizontal,Gas,5701.0,54.577954,-116.965908,-116.998494,-116.998494,1,0
...,...,...,...,...,...,...,...,...,...,...,...
10422,2593752,NaN,Horizontal,Oil,2060.0,51.912631,-111.161530,-111.167073,-111.167073,1,1
10424,2588281,NaN,Horizontal,Oil,1716.0,51.910109,-111.175877,-111.178837,-111.178837,1,1
10427,2588282,NaN,Horizontal,Oil,1737.0,51.910015,-111.137825,-111.140736,-111.140736,1,1
10428,2588283,NaN,Horizontal,Oil,1759.0,51.912631,-111.161386,-111.160026,-111.160026,1,1
10433,2621490,NaN,Directional,Oil,1976.0,51.959143,-111.098455,-111.107271,-111.107271,0,1

In [22]:
#Taking features and standardizing them
#from sklearn.preprocessing import StandardScaler
#sec1=test.iloc[:,1:10]
#scale=StandardScaler()
#scaled1=scale.fit_transform(sec1)
#df2=pd.DataFrame(scaled1)
#df2

In [23]:
#Testing data
X_new=test.iloc[:,[2,3,4,7,8,9]]

In [24]:
#Prediction on the testing set
predicted1=model_1.predict(X_new)

In [25]:
#Putting the predicted TVD in the dataframe as TVD_predicted
test_data['TVD_predicted']=predicted1
test_data

C:\Users\cheta\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,EPAssetsId,TVD,Total Depth,Surf_Latitude,Surf_Longitude,WellProfile,WellType,TVD_predicted
0,2587301,NaN,3677.0,54.747632,-117.529866,Horizontal,Oil,1677.807705
8,2608978,NaN,3508.0,54.745328,-117.482119,Horizontal,Oil,1619.193079
14,2608702,NaN,6110.0,54.578063,-116.965662,Horizontal,Gas,2970.311954
15,2614267,NaN,6106.0,54.578117,-116.965540,Directional,Gas,2915.326592
17,2608700,NaN,5701.0,54.577954,-116.965908,Horizontal,Gas,2841.063725
...,...,...,...,...,...,...,...,...
10422,2593752,NaN,2060.0,51.912631,-111.161530,Horizontal,Oil,997.681065
10424,2588281,NaN,1716.0,51.910109,-111.175877,Horizontal,Oil,891.153745
10427,2588282,NaN,1737.0,51.910015,-111.137825,Horizontal,Oil,893.297996
10428,2588283,NaN,1759.0,51.912631,-111.161386,Horizontal,Oil,902.506797
10433,2621490,NaN,1976.0,51.959143,-111.098455,Directional,Oil,900.324969

In [26]:
#Getting the data from the submission list for the EPAssetsID
submission_list=pd.read_csv('Submission_Sample.csv')

In [27]:
#Merging the test data and submission data to get the required predicted TVD's
merger=pd.merge(submission_list,test_data, on='EPAssetsId')
merger

,EPAssetsId,TVD_Sample_submission,TVD,Total Depth,Surf_Latitude,Surf_Longitude,WellProfile,WellType,TVD_predicted
0,1161143,1740.949196,NaN,1470.7,51.817500,-109.502778,Horizontal,Oil,634.287267
1,2597084,244.915290,NaN,4569.0,54.689867,-118.707755,Horizontal,Gas,2666.676610
2,1164793,1046.683946,NaN,1487.0,51.642389,-108.719917,Horizontal,Oil,582.799168
3,1170291,794.188425,NaN,1925.0,51.081039,-107.910257,Horizontal,Oil,741.356063
4,2603236,1568.888132,NaN,4368.0,54.622943,-117.627506,Horizontal,Oil,1933.638207
...,...,...,...,...,...,...,...,...,...
1958,1159695,1079.563934,NaN,1429.0,51.512300,-109.043862,Horizontal,Oil,629.806729
1959,2612450,972.673541,NaN,6062.0,54.497447,-117.061467,Directional,Gas,2929.486183
1960,2607916,122.981610,NaN,5076.0,55.767238,-119.902561,Horizontal,Gas,2745.798362
1961,2602544,1921.057294,NaN,1658.0,51.985660,-111.038505,Horizontal,Oil,840.890693
1962,2617170,1728.435130,NaN,5691.0,54.691003,-116.751991,Directional,Oil,2180.249603

In [28]:
#Exporting the results to excel
#merger.to_csv('Submission 1.csv')

# Model 2

In [29]:
#Feature Variables, considering formation as well. In the last model foramtion was not considered as the training data included all the formations 
#but the testing data(missing TVD has no wells from Cardium thus it created a problem). The workaround was to not include
#any wells from the Cardium formation

total2=well_header[['EPAssetsId','TVD','Formation','TotalDepth','Surf_Latitude','Surf_Longitude','WellProfile','WellTypeStandardised']]
data2=total2[total.TVD.notnull()]
data2.columns=['EPAssetsId','TVD','Formation','Total Depth','Surf_Latitude','Surf_Longitude','WellProfile','WellType']
data2

,EPAssetsId,TVD,Formation,Total Depth,Surf_Latitude,Surf_Longitude,WellProfile,WellType
1,2593278,1954.58,Montney,3607.0,54.737446,-117.527042,Horizontal,Oil
2,2579437,1940.06,Montney,3502.0,54.730864,-117.559923,Horizontal,Oil
3,2591761,1945.01,Montney,3491.0,54.730703,-117.560141,Horizontal,Oil
4,2587302,1956.34,Montney,3578.0,54.723339,-117.561283,Horizontal,Oil
5,2600942,1911.62,Montney,3659.0,54.787071,-117.639433,Horizontal,Oil
...,...,...,...,...,...,...,...,...
10431,2619591,888.62,Viking,2068.0,51.895504,-111.199446,Directional,Oil
10432,2619592,889.74,Viking,2076.0,51.895432,-111.199446,Directional,Oil
10434,2614697,2254.61,Cardium,5531.0,51.272852,-114.367997,Directional,Oil
10435,2613170,2209.00,Cardium,4779.0,51.257185,-114.336463,Directional,Oil
10436,2613169,2218.41,Cardium,5444.0,51.256761,-114.336995,Directional,Oil

In [30]:
# Since the missing TVD data does not contain Cardium so all the Cardium wells will not be consider
mod2=data2[data2.Formation!='Cardium']

In [31]:
#Creating dummies for Formation, Well Profile and WellType
#df2 = pd.get_dummies(mod2, columns=['WellProfile', 'WellType','Formation'])

well_profile_dummies2 = pd.get_dummies(mod2.WellProfile, prefix='WellProfile').iloc[:,1:]
well_type_dummies2 = pd.get_dummies(mod2.WellType, prefix='WellType').iloc[:,1:]
well_formation_dummies2=pd.get_dummies(mod2.Formation, prefix='Formation').iloc[:,1:]

df2 = pd.concat([mod2, well_profile_dummies2,well_type_dummies2, well_formation_dummies2], axis=1)
df2

,EPAssetsId,TVD,Formation,Total Depth,Surf_Latitude,Surf_Longitude,WellProfile,WellType,WellProfile_Horizontal,WellProfile_Vertical,WellType_Oil,Formation_Montney,Formation_Viking
1,2593278,1954.58,Montney,3607.0,54.737446,-117.527042,Horizontal,Oil,1,0,1,1,0
2,2579437,1940.06,Montney,3502.0,54.730864,-117.559923,Horizontal,Oil,1,0,1,1,0
3,2591761,1945.01,Montney,3491.0,54.730703,-117.560141,Horizontal,Oil,1,0,1,1,0
4,2587302,1956.34,Montney,3578.0,54.723339,-117.561283,Horizontal,Oil,1,0,1,1,0
5,2600942,1911.62,Montney,3659.0,54.787071,-117.639433,Horizontal,Oil,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10426,2612600,891.82,Viking,2024.0,51.913412,-111.146918,Directional,Oil,0,0,1,0,1
10429,2605004,896.85,Viking,2002.0,51.920839,-111.183763,Horizontal,Oil,1,0,1,0,1
10430,2605001,897.58,Viking,2227.0,51.920983,-111.183762,Horizontal,Oil,1,0,1,0,1
10431,2619591,888.62,Viking,2068.0,51.895504,-111.199446,Directional,Oil,0,0,1,0,1
10432,2619592,889.74,Viking,2076.0,51.895432,-111.199446,Directional,Oil,0,0,1,0,1

In [32]:
#Extrating feature variables for the model
X2=df2.iloc[:,[3,4,5,8,9,10,11,12]]
y2=df2.iloc[:, 1]

In [33]:
#Using Stats Model to understand the hypothesis: Model 2

import statsmodels.formula.api as smf
model22=smf.ols('y2~X2', data=df2).fit()
model22.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     y2   R-squared:                       0.976
Model:                            OLS   Adj. R-squared:                  0.976
Method:                 Least Squares   F-statistic:                 2.779e+04
Date:                Wed, 05 Aug 2020   Prob (F-statistic):               0.00
Time:                        21:30:44   Log-Likelihood:                -35935.
No. Observations:                5584   AIC:                         7.189e+04
Df Residuals:                    5575   BIC:                         7.195e+04
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -1072.0928    227.156     -4.720      0.000   -1517.406    -626.779
X2[0]          0.1719      0.004     39.315      0.000       0.163       0.181
X2[1]       -346.6247      6.893    -50.286      0.000    -360.138    -333.111
X2[2]       -188.1795      3.640    -51.694      0.000    -195.316    -181.043
X2[3]         73.9809      6.268     11.802      0.000      61.693      86.269
X2[4]        539.4961     68.634      7.860      0.000     404.946     674.046
X2[5]       -530.6905      9.563    -55.492      0.000    -549.438    -511.943
X2[6]       -398.8244     10.201    -39.097      0.000    -418.822    -378.826
X2[7]       -707.0961     17.635    -40.097      0.000    -741.667    -672.525
==============================================================================
Omnibus:                      426.501   Durbin-Watson:                   0.738
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2153.425
Skew:                           0.166   Prob(JB):                         0.00
Kurtosis:                       6.024   Cond. No.                     3.76e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.76e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [101]:
#Using a MLR regression model

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeClassifier

for i in range(1,30):
    X2_train,X2_test,y2_train,y2_test=train_test_split(X2,y2,test_size=0.4, random_state=i)
    
    model2=LinearRegression()
    model2.fit(X2_train,y2_train)
    
    training_score2=model2.score(X2_train,y2_train)
    testing_score2=model2.score(X2_test,y2_test)
   
    if testing_score > training_score:
        print("Testing : {} Training : {} Random State: {}".format(testing_score2,training_score2,i))

Testing : 0.9755588051291509 Training : 0.9751350146969395 Random State: 1
Testing : 0.9763390526209388 Training : 0.9749053257275199 Random State: 2
Testing : 0.9752583798546164 Training : 0.9756545930506314 Random State: 3
Testing : 0.9759805769528559 Training : 0.9751966712500533 Random State: 4
Testing : 0.9757122965591796 Training : 0.9750823250553908 Random State: 5
Testing : 0.9757616641673585 Training : 0.9753470187473995 Random State: 6
Testing : 0.9751642309785122 Training : 0.9756291932848792 Random State: 7
Testing : 0.9746745327332428 Training : 0.9759698096595266 Random State: 8
Testing : 0.9747544669781707 Training : 0.975847501495063 Random State: 9
Testing : 0.9751455818673179 Training : 0.9756639500862917 Random State: 10
Testing : 0.9761528527748634 Training : 0.9750349283134885 Random State: 11
Testing : 0.9760588482345443 Training : 0.9751099177624875 Random State: 12
Testing : 0.9751609328596136 Training : 0.9757046976264886 Random State: 13
Testing : 0.9754523889849193 Training : 0.9755037038166763 Random State: 14
Testing : 0.9749591989579416 Training : 0.975651709418966 Random State: 15
Testing : 0.9740789086247085 Training : 0.9764395588281434 Random State: 16
Testing : 0.9759863189890169 Training : 0.975036808976861 Random State: 17
Testing : 0.9767434021128026 Training : 0.9746401440871448 Random State: 18
Testing : 0.9747957984264619 Training : 0.9758723950859789 Random State: 19
Testing : 0.9756786444446586 Training : 0.975178710030307 Random State: 20
Testing : 0.9754251863388788 Training : 0.9754589544656311 Random State: 21
Testing : 0.9757487762400366 Training : 0.9753279648604825 Random State: 22
Testing : 0.9736957989837526 Training : 0.9766950226998516 Random State: 23
Testing : 0.9749056387101052 Training : 0.9758048201824073 Random State: 24
Testing : 0.9749203696117577 Training : 0.9758516888259154 Random State: 25
Testing : 0.9729321864252397 Training : 0.9770444691930753 Random State: 26
Testing : 0.9740792991072255 Training : 0.9762324165249946 Random State: 27
Testing : 0.97596696840212 Training : 0.9751513219684794 Random State: 28
Testing : 0.9752311612221034 Training : 0.9756058242452276 Random State: 29

In [102]:
X2_train,X2_test,y2_train,y2_test=train_test_split(X2,y2,test_size=0.3, random_state=29)
model_2=LinearRegression()
model_2.fit(X2_train,y2_train)

LinearRegression()

In [103]:
#Prediction on the training set
predicted2=model_2.predict(X2_test)

In [104]:
#check the accuracy on the training set
model_2.score(X2_train,y2_train)

0.975144741042212

In [105]:
#check the accuracy on the test set
model_2.score(X2_test,y2_test)

0.9764218100899696

In [106]:
#Testing Data
test_data2=total2[total.TVD.isnull()]
test_data2.columns=['EPAssetsId','TVD','Formation','Total Depth','Surf_Latitude','Surf_Longitude','WellProfile','WellType']
test_data2

,EPAssetsId,TVD,Formation,Total Depth,Surf_Latitude,Surf_Longitude,WellProfile,WellType
0,2587301,NaN,Montney,3677.0,54.747632,-117.529866,Horizontal,Oil
8,2608978,NaN,Montney,3508.0,54.745328,-117.482119,Horizontal,Oil
14,2608702,NaN,Duvernay,6110.0,54.578063,-116.965662,Horizontal,Gas
15,2614267,NaN,Duvernay,6106.0,54.578117,-116.965540,Directional,Gas
17,2608700,NaN,Duvernay,5701.0,54.577954,-116.965908,Horizontal,Gas
...,...,...,...,...,...,...,...,...
10422,2593752,NaN,Viking,2060.0,51.912631,-111.161530,Horizontal,Oil
10424,2588281,NaN,Viking,1716.0,51.910109,-111.175877,Horizontal,Oil
10427,2588282,NaN,Viking,1737.0,51.910015,-111.137825,Horizontal,Oil
10428,2588283,NaN,Viking,1759.0,51.912631,-111.161386,Horizontal,Oil
10433,2621490,NaN,Viking,1976.0,51.959143,-111.098455,Directional,Oil

In [107]:
#Creating dummies for Formation, Well Profile and WellType
#test2 = pd.get_dummies(test_data2, columns=['WellProfile', 'WellType','Formation'])
well_profile_dummies_test2 = pd.get_dummies(test_data2.WellProfile, prefix='WellProfile').iloc[:,1:]
well_type_dummies_test2 = pd.get_dummies(test_data2.WellType, prefix='WellType').iloc[:,1:]
well_formation_dummies_test2 = pd.get_dummies(test_data2.Formation, prefix='Formation').iloc[:,1:]

test2=pd.concat([test_data2, well_profile_dummies_test2,well_type_dummies_test,well_formation_dummies_test2], axis=1)
test2

,EPAssetsId,TVD,Formation,Total Depth,Surf_Latitude,Surf_Longitude,WellProfile,WellType,WellProfile_Horizontal,WellProfile_Vertical,WellType_Oil,Formation_Montney,Formation_Viking
0,2587301,NaN,Montney,3677.0,54.747632,-117.529866,Horizontal,Oil,1,0,1,1,0
8,2608978,NaN,Montney,3508.0,54.745328,-117.482119,Horizontal,Oil,1,0,1,1,0
14,2608702,NaN,Duvernay,6110.0,54.578063,-116.965662,Horizontal,Gas,1,0,0,0,0
15,2614267,NaN,Duvernay,6106.0,54.578117,-116.965540,Directional,Gas,0,0,0,0,0
17,2608700,NaN,Duvernay,5701.0,54.577954,-116.965908,Horizontal,Gas,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10422,2593752,NaN,Viking,2060.0,51.912631,-111.161530,Horizontal,Oil,1,0,1,0,1
10424,2588281,NaN,Viking,1716.0,51.910109,-111.175877,Horizontal,Oil,1,0,1,0,1
10427,2588282,NaN,Viking,1737.0,51.910015,-111.137825,Horizontal,Oil,1,0,1,0,1
10428,2588283,NaN,Viking,1759.0,51.912631,-111.161386,Horizontal,Oil,1,0,1,0,1
10433,2621490,NaN,Viking,1976.0,51.959143,-111.098455,Directional,Oil,0,0,1,0,1

In [108]:
X2_new=test2.iloc[:,[3,4,5,8,9,10,11,12]]

In [109]:
#Prediction on the testing set
predicted2=model_2.predict(X2_new)

In [110]:
#Putting the predicted TVD in the dataframe as TVD_predicted
test_data2['TVD_predicted']=predicted2

C:\Users\cheta\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [111]:
#Merging the test data and submission data to get the required predicted TVD's
merger2=pd.merge(submission_list,test_data2, on='EPAssetsId')
merger2

,EPAssetsId,TVD_Sample_submission,TVD,Formation,Total Depth,Surf_Latitude,Surf_Longitude,WellProfile,WellType,TVD_predicted
0,1161143,1740.949196,NaN,Viking,1470.7,51.817500,-109.502778,Horizontal,Oil,663.260743
1,2597084,244.915290,NaN,Montney,4569.0,54.689867,-118.707755,Horizontal,Gas,2775.734706
2,1164793,1046.683946,NaN,Viking,1487.0,51.642389,-108.719917,Horizontal,Oil,579.708555
3,1170291,794.188425,NaN,Viking,1925.0,51.081039,-107.910257,Horizontal,Oil,695.768510
4,2603236,1568.888132,NaN,Montney,4368.0,54.622943,-117.627506,Horizontal,Oil,2027.793564
...,...,...,...,...,...,...,...,...,...,...
1958,1159695,1079.563934,NaN,Viking,1429.0,51.512300,-109.043862,Horizontal,Oil,675.221010
1959,2612450,972.673541,NaN,Duvernay,6062.0,54.497447,-117.061467,Directional,Gas,3107.068203
1960,2607916,122.981610,NaN,Montney,5076.0,55.767238,-119.902561,Horizontal,Gas,2715.166788
1961,2602544,1921.057294,NaN,Viking,1658.0,51.985660,-111.038505,Horizontal,Oil,924.802145
1962,2617170,1728.435130,NaN,Duvernay,5691.0,54.691003,-116.751991,Directional,Oil,2384.889970

In [112]:
#merger2.to_csv('Submission 2.csv')

# Model 3: Adding field variable

In [324]:
well_header[well_header.Formation!='Cardium']
well_cut

,EPAssetsId,UWI,CurrentStatus,CurrentStatusStandardised,WellType,WellTypeStandardised,Formation,Field,Surf_Township,Surf_Meridian,...,KBElevation,TotalDepth,SpudDate,FinalDrillDate,RigReleaseDate,DaysDrilling,DrillMetresPerDay,TVD,WellProfile,ProjectedDepth
0,2587301,100122706624W500,Gas Lift,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,764.8,3677.0,12/5/2015,12/18/2015,12/21/2015,13.0,282.85,NaN,Horizontal,3800.0
1,2593278,102052706624W500,Gas Lift,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,770.8,3607.0,5/26/2016,6/8/2016,6/10/2016,13.0,277.46,1954.58,Horizontal,3700.0
2,2579437,100162206624W500,Gas Lift,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,759.4,3502.0,1/6/2015,1/19/2015,1/22/2015,13.0,269.38,1940.06,Horizontal,3800.0
3,2591761,100092206624W500,Gas Lift,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,759.8,3491.0,1/12/2016,1/24/2016,1/26/2016,12.0,290.92,1945.01,Horizontal,3500.0
4,2587302,100082206624W500,Gas Lift,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,767.7,3578.0,12/28/2015,1/8/2016,1/11/2016,11.0,325.27,1956.34,Horizontal,3800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10429,2605004,102131103409W400,Pumping,Active,Crude Oil,Oil,Viking,Provost,34,W4,...,785.8,2002.0,7/28/2017,8/12/2017,8/13/2017,15.0,133.47,896.85,Horizontal,2005.0
10430,2605001,100131103409W400,Pumping,Active,Crude Oil,Oil,Viking,Provost,34,W4,...,785.5,2227.0,7/30/2017,8/8/2017,8/9/2017,9.0,247.44,897.58,Horizontal,2227.0
10431,2619591,100080903409W400,Pumping,Active,Crude Oil,Oil,Viking,Provost,34,W4,...,777.7,2068.0,1/26/2019,2/13/2019,2/14/2019,18.0,114.89,888.62,Directional,NaN
10432,2619592,102090303409W400,Pumping,Active,Crude Oil,Oil,Viking,Provost,34,W4,...,777.7,2076.0,1/26/2019,2/11/2019,2/11/2019,16.0,129.75,889.74,Directional,NaN
10433,2621490,100143203408W400,Pumping,Active,Crude Oil,Oil,Viking,Provost,34,W4,...,798.9,1976.0,6/30/2019,8/14/2019,8/15/2019,45.0,43.91,NaN,Directional,1960.0

In [325]:
data_to_predict=well_cut[well_cut.TVD.isnull()]
data_to_predict['Field'].unique().shape

(95,)

In [326]:
data_to_train=well_cut[well_cut.TVD.notnull()]
data_to_train['Field'].unique().shape

(104,)

In [327]:
data_to_train=data_to_train[data_to_train['Field'].isin(data_to_predict['Field'].unique())]

In [344]:
data_to_train['Field'].unique().shape
data_to_train

,EPAssetsId,UWI,CurrentStatus,CurrentStatusStandardised,WellType,WellTypeStandardised,Formation,Field,Surf_Township,Surf_Meridian,...,KBElevation,TotalDepth,SpudDate,FinalDrillDate,RigReleaseDate,DaysDrilling,DrillMetresPerDay,TVD,WellProfile,ProjectedDepth
1,2593278,102052706624W500,Gas Lift,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,770.8,3607.0,5/26/2016,6/8/2016,6/10/2016,13.0,277.46,1954.58,Horizontal,3700.0
2,2579437,100162206624W500,Gas Lift,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,759.4,3502.0,1/6/2015,1/19/2015,1/22/2015,13.0,269.38,1940.06,Horizontal,3800.0
3,2591761,100092206624W500,Gas Lift,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,759.8,3491.0,1/12/2016,1/24/2016,1/26/2016,12.0,290.92,1945.01,Horizontal,3500.0
4,2587302,100082206624W500,Gas Lift,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,767.7,3578.0,12/28/2015,1/8/2016,1/11/2016,11.0,325.27,1956.34,Horizontal,3800.0
5,2600942,102120606724W500,Flowing,Active,Crude Oil,Oil,Montney,Ante Creek North,67,W5,...,725.0,3659.0,3/20/2017,3/27/2017,3/29/2017,7.0,522.71,1911.62,Horizontal,3688.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10426,2612600,103121303409W400,Pumping,Active,Crude Oil,Oil,Viking,Provost,34,W4,...,784.8,2024.0,6/8/2018,7/30/2018,7/31/2018,52.0,38.92,891.82,Directional,2059.0
10429,2605004,102131103409W400,Pumping,Active,Crude Oil,Oil,Viking,Provost,34,W4,...,785.8,2002.0,7/28/2017,8/12/2017,8/13/2017,15.0,133.47,896.85,Horizontal,2005.0
10430,2605001,100131103409W400,Pumping,Active,Crude Oil,Oil,Viking,Provost,34,W4,...,785.5,2227.0,7/30/2017,8/8/2017,8/9/2017,9.0,247.44,897.58,Horizontal,2227.0
10431,2619591,100080903409W400,Pumping,Active,Crude Oil,Oil,Viking,Provost,34,W4,...,777.7,2068.0,1/26/2019,2/13/2019,2/14/2019,18.0,114.89,888.62,Directional,NaN
10432,2619592,102090303409W400,Pumping,Active,Crude Oil,Oil,Viking,Provost,34,W4,...,777.7,2076.0,1/26/2019,2/11/2019,2/11/2019,16.0,129.75,889.74,Directional,NaN

In [345]:
new_to_predict=data_to_predict[data_to_predict['Field'].isin(data_to_train['Field'].unique())]
new_to_predict

,EPAssetsId,UWI,CurrentStatus,CurrentStatusStandardised,WellType,WellTypeStandardised,Formation,Field,Surf_Township,Surf_Meridian,...,KBElevation,TotalDepth,SpudDate,FinalDrillDate,RigReleaseDate,DaysDrilling,DrillMetresPerDay,TVD,WellProfile,ProjectedDepth
0,2587301,100122706624W500,Gas Lift,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,764.8,3677.0,12/5/2015,12/18/2015,12/21/2015,13.0,282.85,NaN,Horizontal,3800.0
8,2608978,102033006623W500,Flowing,Active,Crude Oil,Oil,Montney,Ante Creek North,66,W5,...,807.4,3508.0,1/13/2018,1/22/2018,1/23/2018,9.0,389.78,NaN,Horizontal,3563.0
14,2608702,102120506520W500,Flowing,Active,Gas,Gas,Duvernay,Kaybob,64,W5,...,787.0,6110.0,2/2/2018,3/26/2018,3/28/2018,52.0,117.50,NaN,Horizontal,6030.8
15,2614267,100110506520W500,Flowing,Active,Gas,Gas,Duvernay,Kaybob,64,W5,...,787.0,6106.0,2/3/2018,4/3/2018,4/5/2018,59.0,103.49,NaN,Directional,NaN
17,2608700,100040506520W500,Flowing,Active,Gas,Gas,Duvernay,Kaybob,64,W5,...,787.0,5701.0,1/30/2018,3/7/2018,3/10/2018,36.0,158.36,NaN,Horizontal,5531.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10422,2593752,102161403409W400,Pumping,Active,Crude Oil,Oil,Viking,Provost,34,W4,...,783.0,2060.0,6/22/2016,6/24/2016,6/24/2016,2.0,1030.00,NaN,Horizontal,2350.0
10424,2588281,102061403409W400,Pumping,Active,Crude Oil,Oil,Viking,Provost,34,W4,...,782.8,1716.0,7/11/2015,7/13/2015,7/13/2015,2.0,858.00,NaN,Horizontal,1900.0
10427,2588282,102081303409W400,Pumping,Active,Crude Oil,Oil,Viking,Provost,34,W4,...,784.4,1737.0,7/9/2015,7/10/2015,7/11/2015,1.0,1737.00,NaN,Horizontal,1900.0
10428,2588283,104121203409W400,Suspended,Suspended,Crude Oil,Oil,Viking,Provost,34,W4,...,782.9,1759.0,7/6/2015,7/8/2015,7/8/2015,2.0,879.50,NaN,Horizontal,1900.0
10433,2621490,100143203408W400,Pumping,Active,Crude Oil,Oil,Viking,Provost,34,W4,...,798.9,1976.0,6/30/2019,8/14/2019,8/15/2019,45.0,43.91,NaN,Directional,1960.0

In [346]:

data3=data_to_train[['EPAssetsId','TVD','Formation','Field','WellProfile','WellTypeStandardised','TotalDepth','Surf_Latitude','Surf_Longitude']]
data3.columns=['EPAssetsId','TVD','Formation','Field','WellProfile','WellType','Total Depth','Surf_Latitude','Surf_Longitude']
data3

,EPAssetsId,TVD,Formation,Field,WellProfile,WellType,Total Depth,Surf_Latitude,Surf_Longitude
1,2593278,1954.58,Montney,Ante Creek North,Horizontal,Oil,3607.0,54.737446,-117.527042
2,2579437,1940.06,Montney,Ante Creek North,Horizontal,Oil,3502.0,54.730864,-117.559923
3,2591761,1945.01,Montney,Ante Creek North,Horizontal,Oil,3491.0,54.730703,-117.560141
4,2587302,1956.34,Montney,Ante Creek North,Horizontal,Oil,3578.0,54.723339,-117.561283
5,2600942,1911.62,Montney,Ante Creek North,Horizontal,Oil,3659.0,54.787071,-117.639433
...,...,...,...,...,...,...,...,...,...
10426,2612600,891.82,Viking,Provost,Directional,Oil,2024.0,51.913412,-111.146918
10429,2605004,896.85,Viking,Provost,Horizontal,Oil,2002.0,51.920839,-111.183763
10430,2605001,897.58,Viking,Provost,Horizontal,Oil,2227.0,51.920983,-111.183762
10431,2619591,888.62,Viking,Provost,Directional,Oil,2068.0,51.895504,-111.199446
10432,2619592,889.74,Viking,Provost,Directional,Oil,2076.0,51.895432,-111.199446

In [347]:
# Since the missing TVD data does not contain Cardium so all the Cardium wells will not be consider
#data3=data3[data3.Formation!='Cardium']

In [348]:
#Creating dummies for Formation, Well Profile, WellType and Field

well_formation_dummies3=pd.get_dummies(data3.Formation, prefix='Formation').iloc[:,1:]
well_field_dummies3=pd.get_dummies(data3.Field, prefix='Field').iloc[:,1:]
well_profile_dummies3 = pd.get_dummies(data3.WellProfile, prefix='WellProfile').iloc[:,1:]
well_type_dummies3 = pd.get_dummies(data3.WellType, prefix='WellType').iloc[:,1:]


df3 = pd.concat([data3, well_formation_dummies3,well_field_dummies3,well_profile_dummies3,well_type_dummies3], axis=1)
df3

,EPAssetsId,TVD,Formation,Field,WellProfile,WellType,Total Depth,Surf_Latitude,Surf_Longitude,Formation_Montney,...,Field_Viking - Miscellaneous Area 2,Field_Wapiti,Field_Waskahigan,Field_Wembley,Field_Whiteside Viking,Field_Wild River,Field_Willesden Green,WellProfile_Horizontal,WellProfile_Vertical,WellType_Oil
1,2593278,1954.58,Montney,Ante Creek North,Horizontal,Oil,3607.0,54.737446,-117.527042,1,...,0,0,0,0,0,0,0,1,0,1
2,2579437,1940.06,Montney,Ante Creek North,Horizontal,Oil,3502.0,54.730864,-117.559923,1,...,0,0,0,0,0,0,0,1,0,1
3,2591761,1945.01,Montney,Ante Creek North,Horizontal,Oil,3491.0,54.730703,-117.560141,1,...,0,0,0,0,0,0,0,1,0,1
4,2587302,1956.34,Montney,Ante Creek North,Horizontal,Oil,3578.0,54.723339,-117.561283,1,...,0,0,0,0,0,0,0,1,0,1
5,2600942,1911.62,Montney,Ante Creek North,Horizontal,Oil,3659.0,54.787071,-117.639433,1,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10426,2612600,891.82,Viking,Provost,Directional,Oil,2024.0,51.913412,-111.146918,0,...,0,0,0,0,0,0,0,0,0,1
10429,2605004,896.85,Viking,Provost,Horizontal,Oil,2002.0,51.920839,-111.183763,0,...,0,0,0,0,0,0,0,1,0,1
10430,2605001,897.58,Viking,Provost,Horizontal,Oil,2227.0,51.920983,-111.183762,0,...,0,0,0,0,0,0,0,1,0,1
10431,2619591,888.62,Viking,Provost,Directional,Oil,2068.0,51.895504,-111.199446,0,...,0,0,0,0,0,0,0,0,0,1
10432,2619592,889.74,Viking,Provost,Directional,Oil,2076.0,51.895432,-111.199446,0,...,0,0,0,0,0,0,0,0,0,1

In [349]:
#Extrating feature variables for the model 3
X3=df3.iloc[:,6:97]
y3=df3.iloc[:, 1]
X3

,Total Depth,Surf_Latitude,Surf_Longitude,Formation_Montney,Formation_Viking,Field_Avon Hill,Field_Berland River,Field_Bezanson,Field_Bigstone,Field_Brazeau River,...,Field_Viking - Miscellaneous Area 2,Field_Wapiti,Field_Waskahigan,Field_Wembley,Field_Whiteside Viking,Field_Wild River,Field_Willesden Green,WellProfile_Horizontal,WellProfile_Vertical,WellType_Oil
1,3607.0,54.737446,-117.527042,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,3502.0,54.730864,-117.559923,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,3491.0,54.730703,-117.560141,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,3578.0,54.723339,-117.561283,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
5,3659.0,54.787071,-117.639433,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10426,2024.0,51.913412,-111.146918,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10429,2002.0,51.920839,-111.183763,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
10430,2227.0,51.920983,-111.183762,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
10431,2068.0,51.895504,-111.199446,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10432,2076.0,51.895432,-111.199446,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [350]:
#Using Stats Model to understand the hypothesis: Model 3

import statsmodels.formula.api as smf
model33=smf.ols('y3~X3', data=df3).fit()
model33.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     y3   R-squared:                       0.996
Model:                            OLS   Adj. R-squared:                  0.996
Method:                 Least Squares   F-statistic:                 1.404e+04
Date:                Thu, 06 Aug 2020   Prob (F-statistic):               0.00
Time:                        00:20:10   Log-Likelihood:                -30798.
No. Observations:                5535   AIC:                         6.178e+04
Df Residuals:                    5444   BIC:                         6.238e+04
Df Model:                          90
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   6152.7725    536.824     11.461      0.000    5100.383    7205.162
X3[0]          0.0351      0.002     15.299      0.000       0.031       0.040
X3[1]       -500.4535     12.140    -41.222      0.000    -524.253    -476.654
X3[2]       -205.6069      4.438    -46.333      0.000    -214.306    -196.907
X3[3]       -896.9287      9.999    -89.698      0.000    -916.532    -877.326
X3[4]       -956.8766     28.566    -33.497      0.000   -1012.878    -900.875
X3[5]       -976.1921     45.084    -21.653      0.000   -1064.574    -887.810
X3[6]        435.4394     38.921     11.188      0.000     359.138     511.741
X3[7]         32.0986     18.735      1.713      0.087      -4.630      68.827
X3[8]        286.3911     34.116      8.395      0.000     219.511     353.272
X3[9]        177.3144     47.496      3.733      0.000      84.202     270.427
X3[10]      -173.0654     46.954     -3.686      0.000    -265.115     -81.016
X3[11]      -752.9415     48.054    -15.669      0.000    -847.147    -658.736
X3[12]     -1022.0443     52.565    -19.444      0.000   -1125.092    -918.996
X3[13]       275.4303     38.738      7.110      0.000     199.487     351.373
X3[14]     -1014.5382     48.067    -21.107      0.000   -1108.769    -920.308
X3[15]      -881.6400     30.120    -29.271      0.000    -940.687    -822.593
X3[16]      -902.9329     44.962    -20.082      0.000    -991.077    -814.789
X3[17]      -891.2024     45.080    -19.769      0.000    -979.578    -802.827
X3[18]       204.1124     11.919     17.125      0.000     180.747     227.478
X3[19]     -1270.8724     47.439    -26.790      0.000   -1363.871   -1177.874
X3[20]     -1001.0027     49.196    -20.347      0.000   -1097.447    -904.559
X3[21]     -1038.4078     49.509    -20.974      0.000   -1135.464    -941.351
X3[22]     -1114.1104     42.999    -25.910      0.000   -1198.406   -1029.815
X3[23]      -950.5868     45.236    -21.014      0.000   -1039.267    -861.906
X3[24]      -249.4780     27.283     -9.144      0.000    -302.963    -195.993
X3[25]     -1014.8056     51.280    -19.789      0.000   -1115.336    -914.276
X3[26]     -1019.8647     49.518    -20.596      0.000   -1116.940    -922.790
X3[27]       -88.6366     22.112     -4.008      0.000    -131.986     -45.288
X3[28]      -803.2769     38.647    -20.785      0.000    -879.040    -727.514
X3[29]      -405.8646     22.420    -18.102      0.000    -449.818    -361.912
X3[30]      -115.7688     64.900     -1.784      0.075    -242.998      11.460
X3[31]     -1048.7738     59.771    -17.546      0.000   -1165.949    -931.598
X3[32]      -359.8683     25.333    -14.206      0.000    -409.530    -310.206
X3[33]       183.8324     39.002      4.713      0.000     107.373     260.292
X3[34]     -1044.8626     47.247    -22.115      0.000   -1137.486    -952.239
X3[35]     -1256.5142     41.923    -29.972      0.000   -1338.700   -1174.329
X3[36]      -952.2846     29.240    -32.568      0.000   -1009.606    -894.963
X3[37]       619.2124     12.915     47.945      0.000     593.894     644.531
X3[38]       394.9607     13.234     29.845      0.000     369.017     420.904
X3[39]       -94.6822     12.536     -7.553      0.000    -119.258     -70.106
X3[40]        42.5843     13.898      3.064      0.002      15.339      69.829
X3[41]      -908.6811     43.493    -20.893      0.000    -993.945    -823.417
X3[42]       178.3492     38.550      4.626      0.000     102.777     253.922
X3[43]       748.0735     34.342     21.783      0.000     680.750     815.397
X3[44]       507.4301     65.211      7.781      0.000     379.590     635.271
X3[45]     -1002.6655     48.101    -20.845      0.000   -1096.963    -908.368
X3[46]         9.2433     23.525      0.393      0.694     -36.876      55.362
X3[47]     -1178.3455     48.637    -24.227      0.000   -1273.693   -1082.998
X3[48]       226.5801     50.426      4.493      0.000     127.725     325.435
X3[49]      -558.0308     26.612    -20.969      0.000    -610.201    -505.861
X3[50]       309.8170     39.667      7.810      0.000     232.053     387.581
X3[51]       319.2308     15.542     20.540      0.000     288.762     349.700
X3[52]     -1085.1493     47.688    -22.755      0.000   -1178.637    -991.662
X3[53]     -1059.0333     46.850    -22.605      0.000   -1150.878    -967.189
X3[54]      -858.2599     45.510    -18.859      0.000    -947.478    -769.042
X3[55]        34.6057     20.135      1.719      0.086      -4.868      74.079
X3[56]       213.7561     14.875     14.370      0.000     184.595     242.918
X3[57]      -959.5436     43.630    -21.993      0.000   -1045.076    -874.011
X3[58]      -964.1890     44.334    -21.748      0.000   -1051.102    -877.276
X3[59]        83.9615     29.240      2.871      0.004      26.639     141.284
X3[60]     -1042.5123     40.839    -25.527      0.000   -1122.573    -962.451
X3[61]      -223.8433     38.501     -5.814      0.000    -299.321    -148.365
X3[62]      -667.0622     34.539    -19.313      0.000    -734.772    -599.352
X3[63]      1036.4606     65.083     15.925      0.000     908.872    1164.049
X3[64]      -433.0313     31.022    -13.959      0.000    -493.847    -372.216
X3[65]       427.8256     23.312     18.352      0.000     382.124     473.527
X3[66]     -1086.0514     45.006    -24.131      0.000   -1174.282    -997.821
X3[67]       484.6572     21.196     22.866      0.000     443.105     526.210
X3[68]     -1055.0524     50.090    -21.063      0.000   -1153.248    -956.857
X3[69]       691.3570     28.670     24.114      0.000     635.152     747.562
X3[70]      -128.6377     46.065     -2.793      0.005    -218.944     -38.331
X3[71]      -239.9625     46.417     -5.170      0.000    -330.959    -148.966
X3[72]      -820.6572     69.501    -11.808      0.000    -956.908    -684.407
X3[73]      -452.7215     31.726    -14.270      0.000    -514.917    -390.526
X3[74]       -54.7776     16.327     -3.355      0.001     -86.785     -22.770
X3[75]     -1025.6772     52.355    -19.591      0.000   -1128.313    -923.041
X3[76]     -1286.2580     34.328    -37.469      0.000   -1353.555   -1218.961
X3[77]        20.4074     34.746      0.587      0.557     -47.708      88.523
X3[78]       127.2817     33.564      3.792      0.000      61.482     193.081
X3[79]       122.9091     17.049      7.209      0.000      89.487     156.331
X3[80]     -1035.7998     45.720    -22.655      0.000   -1125.428    -946.171
X3[81]       508.4351     14.601     34.823      0.000     479.812     537.058
X3[82]       223.9747     13.937     16.070      0.000     196.652     251.297
X3[83]       184.8564     13.633     13.560      0.000     158.130     211.582
X3[84]     -1065.8525     44.481    -23.962      0.000   -1153.053    -978.652
X3[85]       611.4144     32.186     18.996      0.000     548.316     674.512
X3[86]      -334.4627     35.473     -9.429      0.000    -404.005    -264.921
X3[87]        -0.7115      2.898     -0.245      0.806      -6.393       4.970
X3[88]       239.8634     32.994      7.270      0.000     175.181     304.546
X3[89]      -171.9697      5.731    -30.005      0.000    -183.205    -160.734
==============================================================================
Omnibus:                      888.808   Durbin-Watson:                   1.172
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            14940.704
Skew:                           0.195   Prob(JB):                         0.00
Kurtosis:                      11.039   Cond. No.                     2.22e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.22e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [351]:
#Using a MLR regression model

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeClassifier

for i in range(1,30):
    X3_train,X3_test,y3_train,y3_test=train_test_split(X3,y3,test_size=0.4, random_state=i)
    
    model3=LinearRegression()
    model3.fit(X3_train,y3_train)
    
    training_score3=model3.score(X3_train,y3_train)
    testing_score3=model3.score(X3_test,y3_test)
   
    if testing_score > training_score:
        print("Testing : {} Training : {} Random State: {}".format(testing_score3,training_score3,i))

Testing : 0.9948975137326627 Training : 0.9956653448219314 Random State: 1
Testing : 0.9939243944056991 Training : 0.9957287490742206 Random State: 2
Testing : 0.9947157647506288 Training : 0.9958829255526798 Random State: 3
Testing : 0.9905683841025699 Training : 0.995613647624401 Random State: 4
Testing : 0.9949134883613299 Training : 0.9957944687772874 Random State: 5
Testing : 0.9921356822321705 Training : 0.9957822367071151 Random State: 6
Testing : 0.9953851290505976 Training : 0.9956691601756563 Random State: 7
Testing : 0.9945379344817803 Training : 0.9960604859110332 Random State: 8
Testing : 0.9945092472837044 Training : 0.9957744189570031 Random State: 9
Testing : 0.9926321659393061 Training : 0.9956802236393569 Random State: 10
Testing : 0.9950185126974289 Training : 0.9959174149232373 Random State: 11
Testing : 0.9932666773966483 Training : 0.9958719078257745 Random State: 12
Testing : 0.9944989337045559 Training : 0.9956014727198625 Random State: 13
Testing : 0.9926451191482185 Training : 0.9960141000380487 Random State: 14
Testing : 0.994764330671154 Training : 0.9957376557010958 Random State: 15
Testing : 0.9938121343898874 Training : 0.9959288239449965 Random State: 16
Testing : 0.9943859218684377 Training : 0.9958030791941783 Random State: 17
Testing : 0.9956755226947311 Training : 0.9954907275907262 Random State: 18
Testing : 0.9950689968019543 Training : 0.9956530443437506 Random State: 19
Testing : 0.9950704136153039 Training : 0.9957718384176875 Random State: 20
Testing : 0.9936004095430842 Training : 0.9957380665476854 Random State: 21
Testing : 0.9950346563704973 Training : 0.9959992758207171 Random State: 22
Testing : 0.9957242378285472 Training : 0.9955140047291833 Random State: 23
Testing : 0.9953518680523045 Training : 0.995531598737305 Random State: 24
Testing : 0.9954334693464946 Training : 0.9957196055211129 Random State: 25
Testing : 0.9952087184230823 Training : 0.9956461229666312 Random State: 26
Testing : 0.9919641989826854 Training : 0.9961207396042671 Random State: 27
Testing : 0.9953490502111448 Training : 0.9954052657697878 Random State: 28
Testing : 0.992772272211378 Training : 0.9955646904609643 Random State: 29

In [352]:
X3_train,X3_test,y3_train,y3_test=train_test_split(X3,y3,test_size=0.4, random_state=17)
model_3=LinearRegression()
model_3.fit(X3_train,y3_train)

LinearRegression()

In [353]:
#Prediction on the training set
predicted3=model_3.predict(X3_test)

In [354]:
#check the accuracy on the training set
model_3.score(X3_train,y3_train)

0.9958030791941783

In [355]:
#check the accuracy on the test set
model_3.score(X3_test,y3_test)

0.9943859218684377

In [358]:
#Testing Data
test_data3=new_to_predict[['EPAssetsId','TVD','Formation','Field','WellProfile','WellTypeStandardised','TotalDepth','Surf_Latitude','Surf_Longitude']]
test_data3.columns=['EPAssetsId','TVD','Formation','Field','WellProfile','WellType','Total Depth','Surf_Latitude','Surf_Longitude']
test_data3['Field'].unique().shape

(83,)

In [359]:
#Creating dummies for Formation, Well Profile, WellType and Field

well_formation_dummies_test3=pd.get_dummies(test_data3.Formation, prefix='Field').iloc[:,1:]
well_field_dummies_test3=pd.get_dummies(test_data3.Field, prefix='Field').iloc[:,1:]
well_profile_dummies_test3 = pd.get_dummies(test_data3.WellProfile, prefix='WellProfile').iloc[:,1:]
well_type_dummies_test3 = pd.get_dummies(test_data3.WellType, prefix='WellType').iloc[:,1:]


test3 = pd.concat([test_data3, well_formation_dummies_test3,well_field_dummies_test3,well_profile_dummies_test3,well_type_dummies_test3], axis=1)
test3

,EPAssetsId,TVD,Formation,Field,WellProfile,WellType,Total Depth,Surf_Latitude,Surf_Longitude,Field_Montney,...,Field_Valhalla,Field_Viking - Miscellaneous Area 2,Field_Wapiti,Field_Waskahigan,Field_Wembley,Field_Whiteside Viking,Field_Wild River,Field_Willesden Green,WellProfile_Horizontal,WellType_Oil
0,2587301,NaN,Montney,Ante Creek North,Horizontal,Oil,3677.0,54.747632,-117.529866,1,...,0,0,0,0,0,0,0,0,1,1
8,2608978,NaN,Montney,Ante Creek North,Horizontal,Oil,3508.0,54.745328,-117.482119,1,...,0,0,0,0,0,0,0,0,1,1
14,2608702,NaN,Duvernay,Kaybob,Horizontal,Gas,6110.0,54.578063,-116.965662,0,...,0,0,0,0,0,0,0,0,1,0
15,2614267,NaN,Duvernay,Kaybob,Directional,Gas,6106.0,54.578117,-116.965540,0,...,0,0,0,0,0,0,0,0,0,0
17,2608700,NaN,Duvernay,Kaybob,Horizontal,Gas,5701.0,54.577954,-116.965908,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10422,2593752,NaN,Viking,Provost,Horizontal,Oil,2060.0,51.912631,-111.161530,0,...,0,0,0,0,0,0,0,0,1,1
10424,2588281,NaN,Viking,Provost,Horizontal,Oil,1716.0,51.910109,-111.175877,0,...,0,0,0,0,0,0,0,0,1,1
10427,2588282,NaN,Viking,Provost,Horizontal,Oil,1737.0,51.910015,-111.137825,0,...,0,0,0,0,0,0,0,0,1,1
10428,2588283,NaN,Viking,Provost,Horizontal,Oil,1759.0,51.912631,-111.161386,0,...,0,0,0,0,0,0,0,0,1,1
10433,2621490,NaN,Viking,Provost,Directional,Oil,1976.0,51.959143,-111.098455,0,...,0,0,0,0,0,0,0,0,0,1

In [360]:
X3_new=test3.iloc[:,6:96]
X3_new

,Total Depth,Surf_Latitude,Surf_Longitude,Field_Montney,Field_Viking,Field_Avon Hill,Field_Berland River,Field_Bezanson,Field_Bigstone,Field_Brazeau River,...,Field_Valhalla,Field_Viking - Miscellaneous Area 2,Field_Wapiti,Field_Waskahigan,Field_Wembley,Field_Whiteside Viking,Field_Wild River,Field_Willesden Green,WellProfile_Horizontal,WellType_Oil
0,3677.0,54.747632,-117.529866,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
8,3508.0,54.745328,-117.482119,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
14,6110.0,54.578063,-116.965662,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
15,6106.0,54.578117,-116.965540,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,5701.0,54.577954,-116.965908,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10422,2060.0,51.912631,-111.161530,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
10424,1716.0,51.910109,-111.175877,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
10427,1737.0,51.910015,-111.137825,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
10428,1759.0,51.912631,-111.161386,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
10433,1976.0,51.959143,-111.098455,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [361]:
#Prediction on the testing set
predicted3=model_3.predict(X3_new)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 90 is different from 89)